.todo-list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  background-color: blue;
  border-radius: 8px;
  padding: 8px;
  max-width: 600px;
  margin: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: auto;
  width: 100%;

  &__item {
    margin-bottom: 8px;
  }
}

.list-item {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 8px;
  background-color: wheat;
  padding: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &_done {
    opacity: 0.7;

    &__text {
      text-decoration: line-through;
    }
  }

  &__checkbox {
    margin-right: 8px;
    text-decoration: line-through;
  }

  &__delete-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background: transparent;
    border: none;
    margin-left: auto;
    text-decoration: none;
    padding: 0;
    transform: rotate(45deg);
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    opacity: 0.7;

    &::before {
      content: "+";
    }
  }
}

.btn {
  height: 32px;
  min-width: 64px;
  border: 3px solid #ccc;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  margin-left: 16px;
}

.actions {
  display: flex;
  margin-bottom: 8px;
}

.task-input {
  height: 32px;
  border: 3px solid #ccc;
  border-radius: 8px;
  flex: 1;
}
